<form action="/result_rps">

    <h1>Please make your choice:</h1>
    <label for="rock">Rock</label>
    <input type="radio" id='rock' name='throw' value='rock'>

    <label for="paper">Paper</label>
    <input type="radio" id='paper' name='throw' value='paper'>

    <label for="scissors">Scissors</label>
    <input type="radio" id='scissors' name='throw' value='scissors'>

    <button>Submit</button>
</form>
