<form action="/result">

    <p>
        <h1>Do you know which moive's poster is it?</h1>
    </p>

    <p>
    <label for="title">Move's name</label>
    <input type="search" name='title' id='title' placeholder='Jaws' value="<%= params[:title] %>">
    </p>

    <p>
        <button>Go</button>
    </p>

</form>