<h1>Did you mean?  </h1>

<ul>
     
<% @array.each do |movie| %>
    <a href="result/<%= movie['Title'] %>"><%= movie['Title'] %></a>
    <li><% @movie_name == movie['Title'] %></li>
    <% end %>

</ul>

