body {
background-image: url("http://th02.deviantart.net/fs24/PRE/i/2008/007/2/6/Theatre_Movie_Curtains_Stock_by_PyronixcoreStock.jpg");
background-size: cover;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

img {
    margin-left: 26%;
}
.home_page {

    max-width: 650px;
    height: 391px;
    background-image: url("http://images.contactmusic.com/images/feature-images/shaun-the-sheep-movie-636-380.jpg");
}



.container {
    max-width: 650px;
    height: 535px;
    margin: 10% auto;
    background-color: rgba(255,255,255,0.5);
    padding-top: 10px;
    color: rgb(87, 46, 46);

}

.anther {
    max-width: 650px;
    height: 117px;
    margin: 10% auto;
    background-color: rgba(255,255,255,0.5);   
    padding-top: 5px;
}


