.container {
    max-width: 960px;
    margin: auto;
    border: 1px solid black;
}

header h1 {
    color: green;
}

article {
    width: 79%; /*relateive width*/
    display: inline-block;
}

aside {
    width: 19%;
    display: inline-block;
}

.outer {
    width: 50%;
    margin: auto;
    background-color: red;
    padding: 15px;
}

.inner {
    background-color: grey;
    padding: 10px;
}