/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
body {
    margin: 10%;
    font-size: 12px;
    line-height: 17px;
    font-family: "Times New Roman", serif;
    color: #656565;
}

img {
    margin-bottom: 5px;
}

p.title{
font-weight: bold;
font-size: 17px;
}

.top {
    display: block;
    width: 100%;
}

.bottom {
    display: inline-block;
    width: 23.5%;
     border: 5px solid rgb(193,193,193);
}

#logo {
    padding-bottom: 10px;
}



a:hover {
    color: #20222a;
}

a {
    text-decoration: none; 
}
