<h2>GET EXAMPLE</h2>
<form action="/process">

    <p>
        <label for='query'>Thing to search for</label>
        <input type="search" name='query' id='query' placeholder='Key words'>
    </p>


    <p>
        <label for='name'>Name: </label>
        <input name='name' id='name' placeholder='May' autofocus>
    </p>

    <p>
        <label for="age">Age: </label>
        <input type="number" name='age' id='age' placeholder='101' >
    </p>

    <p>
        <label for="booking_date">Booking date: </label>
        <input type="date" name='booking_date' id='booking_date'>
    </p>

    <p>
        <label for="myspace_page">Myspace page: </label>
        <input type="url" name='myspace_page' id='myspace_page'>
    </p>

    <p>
    <label for="address">Address: </label>
    <input type="email" name='address' id='address'>
    </p>

    <p>
    <label for="avatar">Avatar: </label>
    <input type="file" name='avatar' id='avatar'>
    </p>

    <p>
    <label for="letter_home">Letter to home: </label>
    <textarea name="letter_home" id="letter_home"></textarea>
    </p>

    <p>
    <label for="bros">Favourite Marx Brother: </label>
    <select name="bros" id="bros">
        <option value='groucho'>Groucho Marx</option>
        <option value='harpo' selected>Harpo Marx</option>
        <option value='chico'>Chico Marx</option>
        <option value='zeppo' disabled>Zeppo Marx</option>
    </select>
    </p>

    <p>
        Select your vices:
        <label for="cigars">Cigars</label>
        <input type="checkbox" id='cigars' name='vices[]' value='cigars'>

        <label for="wine">Wine</label>
        <input type="checkbox" id='wine' name='vices[]' value='wine'>

        <label for="heroin">Heroin</label>
        <input type="checkbox" id='heroin' name='vices[]' value='heroin'>
    </p>

    <p>
        Select your favourite vices:
        <label for="cigars">Cigars</label>
        <input type="radio" id='cigars' name='fave_vices' value='cigars'>

        <label for="wine">Wine</label>
        <input type="radio" id='wine' name='fave_vices' value='wine'>

        <label for="heroin">Heroin</label>
        <input type="radio" id='heroin' name='fave_vices' value='heroin'>
    </p>

    <p>
        <label for="range">Range</label>
        <input type="range" id='range' name='range' min="0" max="10" step="2" value="6">
    </p>   

    <p>
        <label for="color">Range</label>
        <input type="color" id='color' name='color'>
    </p> 

    <button>Submit</button>
</form>


